<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">


      <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b7d13b36277498460508a5bc4f0bfd73";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();
      </script>


  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>


    <main id="content" class="main-content" role="main">
      {{ content }}
<h3>学习交流项目定制请联系</h3>

<table>
  <tbody>
    <tr>
      <td style="text-align: left">微信</td>
      <td style="text-align: left">q272774290</td>
    </tr>
    <tr>
      <td style="text-align: left">QQ</td>
      <td style="text-align: left">272774290</td>
    </tr>
  </tbody>
</table>

<h3>我的链接</h3>

<ul>
  <li><a href="https://taobao.com/" target="_blank">淘宝小店</a></li>
  <li><a href="https://space.bilibili.com/84049362" target="_blank">哔哩哔哩</a></li>
  <li><a href="https://blog.csdn.net/tkks3" target="_blank">个人博客</a></li>
  <li><a href="https://weibo.com/u/5983649228" target="_blank">新浪微博</a></li>
</ul>
      <footer class="site-footer">
        <span class="site-footer-credits">&copy; <a href="https://sxbug.com">神仙Bug</a></span>
      </footer>
    </main>
  </body>
</html>
